* {
  all: unset;
}

.topbar {
  font-family: "Open Sans";
  font-size: 13px;
  background: #1A1E23;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.widget-container {
  padding: 8px;
}

.ws-button-busy,
.ws-button-visible,
.ws-button-mine,
.ws-button-urgent,
.ws-button {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.ws-button-mine {
  background: #f3f3f3;
  //background: #6184d8;
}

.ws-button-busy {
  background: rgba(255, 255, 255, 0.2);
}

.ws-button-urgent {
  background: #fe4a49;
}

scale trough highlight {
  //background-color: #6184d8;
  background-color: #f3f3f3;
  color: #000000;
  border-radius: 10px;
}

scale trough {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  min-height: 5px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}
